.glowing-text {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
    -moz-animation: glowing-text 1s ease-in-out infinite alternate;
    animation: glowing-text 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glowing-text {
    0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(255, 47, 99), 0 0 40px #6300e6, 0 0 50px #c300e6, 0 0 60px #e200e6, 0 0 70px #e600ca;
  }
    
    100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ffb84d, 0 0 60px #6bff4d, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }